/* font-family: "UbuntuMonoRegular"; */
@font-face {
    font-family: "UbuntuMonoRegular";
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot");
    src: url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.woff") format("woff"),
    url("../fonts/UbuntuMonoRegular/UbuntuMonoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMonoBold"; */
@font-face {
    font-family: "UbuntuMonoBold";
    src: url("../fonts/UbuntuMonoBold/UbuntuMonoBold.eot");
    src: url("../fonts/UbuntuMonoBold/UbuntuMonoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoBold/UbuntuMonoBold.woff") format("woff"),
    url("../fonts/UbuntuMonoBold/UbuntuMonoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMonoItalic"; */
@font-face {
    font-family: "UbuntuMonoItalic";
    src: url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.eot");
    src: url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.woff") format("woff"),
    url("../fonts/UbuntuMonoItalic/UbuntuMonoItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "UbuntuMonoBoldItalic"; */
@font-face {
    font-family: "UbuntuMonoBoldItalic";
    src: url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.eot");
    src: url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.woff") format("woff"),
    url("../fonts/UbuntuMonoBoldItalic/UbuntuMonoBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



















